APScheduler
Django>=2.0,<2.1
dj-database-url
dj-static
django-debug-toolbar
django-braces
django-ipware
https://github.com/mkouhei/django-shortuuidfield/archive/805736baecbd54e325383891c32d9124e68cd90f.zip
django-toolbelt
future
greenlet
gunicorn
newrelic
psycopg2
pytesseract
pytz
requests
shortuuid
six
static3
tzlocal
waitress
whitenoise==3.3.1
