{% extends "base.html" %}

{% block content %}

<style>
    input, textarea {
        display: block;
    }
</style>

<script>
    $(function () {
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
        }



        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    });

</script>

<div class="container">
	<div class="row">
        <div class="span12">
    		<div class="" id="loginModal">
              <div class="modal-header">
                <h3>Have an Account?</h3>
                Clowder is a 100% free offering. You can download the open source library and
                host yourself or use our free hosted cloud service.<br>
                All we ask is that you sign up with your email address, so we can
                contact you about product updates and new releases.
                <br><br>
              </div>
              <div class="modal-body">
                <div class="well">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                    <li><a href="#create" data-toggle="tab">Create Account</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="login">

                    <form class="form-horizontal" action="" method="post" id="login-form">
                        {% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}


                        <fieldset>
                          <div id="legend">
                            <legend class="">Login</legend>
                          </div>
                          <div class="control-group">
                            <!-- Username -->
                            <label class="control-label"  for="username">Username</label>
                            <div class="controls">
                              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            </div>
                          </div>

                          <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                          </div>


                          <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                              <button class="btn btn-success">Login</button>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="create">
                      <form id="tab" action="/accounts/register/" method="post">
                        {% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}


                        <label>First Name</label>
                        <input name="first_name" type="text" value="" class="input-xlarge">
                        <label>Last Name</label>
                        <input name="last_name" type="text" value="" class="input-xlarge">
                        <label>Email</label>
                        <input name="email" type="text" value="" class="input-xlarge">
                        <label>Password</label>
                        <input name="password" type="password" value="" class="input-xlarge">
                        <label>Preferred Programming Language</label>
                        <input name= "language"
                            type="text" value="" placeholder="Java, C++, Python, Go, etc." class="input-xlarge">
                        <br><br>
                        <button class="btn btn-primary">Create Account</button>

                      </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
	</div>
</div>


{% endblock %}
