{% extends "base.html" %}

{% block content %}

{% regroup pings by name as ping_names %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});

  // Show hide code bubbles
  function toggle(id) {
    $('.code-example').not(id).hide();
    $(id).toggle();
  };

  // Submit form without redirect
  $(function () {
    $('#example-form').submit(function () {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: location.reload()
          });
        return false;
    });
  });

  // Delete service by name
  function delete_service(name) {
      $.ajax({
          type: "POST",
          url: "http://www.clowder.io/delete",
          data: {"name": name, "api_key": "{{ user.public_key }}"},
          success: location.reload()
      });
      return false;
  }
</script>

<div class="container">
    <div class="row">
      <div class="col-md-8">

        <br><br>
        API Key: <b>{{user.public_key}}</b>
        <br><br>

        <button type="button" class="btn btn-primary" onclick="toggle('#html-example')">HTML Form Example</button>
        <button type="button" class="btn btn-primary" onclick="toggle('#php-example')">PHP Example</button>
        <button type="button" class="btn btn-primary" onclick="toggle('#python-example')">Python Example</button>
        <button type="button" class="btn btn-primary" onclick="toggle('#curl-example')">cURL Example</button>

        <div id="html-example" class="code-example unseen">
            <h4>HTML Form Example</h4>
            <hr>
            <br>
            <form id="example-form" action="/api" method="post">
                <input name="name" type="text" value="Test of Clowder" />
                <input name="value" type="numeric" value="10" />
                <input name="api_key" type="hidden" value="{{user.public_key}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div id="curl-example" class="code-example unseen">
            <h4>cURL Example (just copy-paste into your terminal window)</h4>
            <hr>
            curl --data 'api_key={{user.public_key}}&name=example' http://www.clowder.com/api
            <br><br>
        </div>

        <div id="python-example" class="code-example unseen">
            <h4>Python Example</h4>
            <hr>
            <a href="https://github.com/keithhackbarth/clowder_python_client/archive/master.zip">Download from github repo</a>
            <br>or<br>
            pip install https://github.com/keithhackbarth/clowder_python_client/archive/master.zip<br><br>

<pre><code>import clowder
import psutil

clowder.api_key = '{{user.public_key}}'

clowder.ok({
   'name': 'Memory Utilization',
   'value': psutil.phymem_usage().percent
})
</code></pre>
        </div>

        <div id="php-example" class="code-example unseen">
            <h4>PHP Example</h4>
            <hr>
            <a href="https://github.com/keithhackbarth/clowder_php_client/archive/master.zip">Download from github repo</a>

<pre><code>require "clowder.php";

define("API_KEY", '{{user.public_key}}');

$clowder = new Clowder(API_KEY);

$clowder->ok([
    'name' => 'Memory Utilization',
    'value' => memory_get_usage()
]);
</code></pre>
        </div>


        <hr/>

        {% if not ping_names%}
        <div class="alert alert-success">
          Looks like you haven't created any service checks yet.
          <strong>To get started check out the examples above</strong>
        </div>
        {% endif %}

        <ul class="list-group">
        {% for ping_name in ping_names %}
            {% with ping_name.list|last as last %}
            <li class="list-group-item {% if last.status_passing %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
                {{ ping_name.grouper }} - <a href="javascript:delete_service('{{ ping_name.grouper }}')" style="color:red;">Delete</a><br>
                  {% if last.status_passing %}
                      <b style="color:green">Passing</b>
                  {% else %}
                      <b style="color:red">Failing</b>
                  {% endif %}
                  - {{last.create.isoformat}}
            {% endwith %}
                <script type="text/javascript">
                  google.setOnLoadCallback(drawChart);
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Datetime', 'Value'],
                        {% for item in ping_name.list %}
                          [new Date("{{ item.create.isoformat }}"), {{ item.value }}]
                          {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]);

                    var options = {
                      title: '{{ ping_name.grouper }}',
                      hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
                      vAxis: {minValue: 0}
                    };

                    var chart = new google.visualization.AreaChart(document.getElementById('chart_div_{{forloop.counter}}'));
                    chart.draw(data, options);
                  }
                </script>

                <div id="chart_div_{{forloop.counter}}" style="width: 900px; height: 500px;"></div>
            </li>
        {% endfor %}
        </ul>

        <br><br><br><br><br><br><br><br>
        {% endblock %}

      </div>
    </div>
</div>
