{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<meta http-equiv="refresh" content="3000"; URL="http://www.clowder.io/dashboard">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}

{% block content %}

{% regroup pings by name as ping_names %}
<div class="container">
    <div class="row">
      <div class="col-md-12">

        <br><br>
        API Key: <b>{{user.company.public_key}}</b>
        <br><br>

        <hr/>

        {% if not ping_names %}
        <div class="alert alert-success">
          Looks like you haven't created any service checks yet.
          <strong>To get started check out the examples below</strong>
        </div>

        {% else %}
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary show-all-services">All</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success show-passing-services">Passing</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger show-failing-services">
              Failing
              {% if num_failing > 0%}
              <span class="badge">{{ num_failing }}</span>
              {% endif %}
            </button>
          </div>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="progress">
          <div class="progress-bar
                {% if percent_passing >= 95 %}
                    progress-bar-success
                {% elif percent_passing >= 75 %}
                    progress-bar-warning
                {% else %}
                    progress-bar-danger
                {% endif %}"
                role="progressbar" aria-valuenow="{{ percent_passing }}"
                aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_passing }}%">
            <span>{{ percent_passing }}% Passing ({{ num_passing }} / {{ total_num_pings }})</span>
          </div>
        </div>
        {% endif %}

        <ul class="list-group">
        {% for ping_name in ping_names %}
            {% with ping_name.list|last as last %}

            <li class="service-item list-group-item service
                {% if last.status_passing %}
                service-passing list-group-item-success
                {% else %}
                service-failing list-group-item-danger
                {% endif %}">

                <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        {{ ping_name.grouper }}
                      </div>
                      <div class="col-md-4">
                        {% if last.status_passing %}
                        <strong style="color:green">Passing</strong>
                        {% else %}
                        <strong style="color:red">Failing</strong>
                        {% endif %}
                        <br>
                        Last Ping: {{last.create|date:"DATETIME_FORMAT"}}<br>
                        {% if last.get_closest_alert.notify_at %}
                        Next Alert: {{last.get_closest_alert.notify_at|date:"DATETIME_FORMAT"}}
                        {% else %}
                        <br>
                        {% endif %}
                      </div>
                      <div class="col-md-4">
                          <div class="service-controls">
                            <u>Details</u> -
                            <a href="javascript:delete_service('{{ ping_name.grouper }}')" style="color:red;">Delete</a><br>
                          </div>
                      </div>
                    </div>
                </div>

            {% endwith %}
                <script type="text/javascript">
                  google.setOnLoadCallback(drawChart);
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Datetime', 'Value'],
                        {% for item in ping_name.list %}
                          [new Date("{{ item.create.isoformat }}"), {{ item.value }}]
                          {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]);

                    var options = {
                      title: '{{ ping_name.grouper }}',
                      hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
                      vAxis: {minValue: 0}
                    };

                    var chart = new google.visualization.AreaChart(document.getElementById('chart_div_{{forloop.counter}}'));
                    chart.draw(data, options);
                    $(document.getElementById('chart_div_{{forloop.counter}}')).hide();
                  }
                </script>

                <div class="service-item-chart" id="chart_div_{{forloop.counter}}" style="width: 900px; height: 500px;"></div>
            </li>
        {% endfor %}
        </ul>

        {% include "walkthrough.html" %}

        <br><br><br><br><br><br><br><br>
        {% endblock %}

      </div>
    </div>
</div>
