.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    float: none;
}

#alert {
    display: none;
    width: 100%;
    background-color: #d9534f;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    padding: 20px;
    z-index: 1999;
}

.api-key,
#search {
    margin-top: 40px;
}

#search-input {
    width: auto;
}

.search-label {
    margin-right: 10px;
    line-height: 34px;
}
